body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

button {
  background-color: transparent;
  border: 2px solid #41f5e9;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 10px;
}

button:hover {
  background-color: #bcbbbbad;
}

a {
  color: white;
  text-decoration: none;
}

.consola {
  margin-left: 10px;
  font-style: italic;
  color: #41f5e9;
}

.consigna {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

}

.consigna-img {
  width: calc(50% - 10px);
  max-width: 100%;
}